html {
    display: flex;
    justify-content: center;
    flex: 1;
    min-height: 100vh;

    body {
        display: flex;
        flex: 1;

        #__nuxt {
            display: flex;
            flex: 1;

            #__layout {
                display: flex;
                flex: 1;
            }
        }
    }
}